.mainContainer {
  margin: 0 auto;
}

.mainContainer h1,
h2,
button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer h1,
h2 {
  color: #0ca1dd;
  padding-top: 30px;
}

.mainContainer button {
  margin-top: 50px;
  font-size: 20px;
  font-family: Inter;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  cursor: pointer;
  color: #f9f9f9;
  background: #0098da;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.3s !important;
}

.mainContainer button:hover {
  background: #6abd50;
  transform: translateY(-2px);
}
