@import url(./reset.module.css);

/* cadastro */
.registerMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-content: center;
    position:relative;

    
}

.left{
    background: linear-gradient(
        180deg,
        #0098dac2 0%,
        #49b27ac7 65.62%,
        rgb(106 189 80 / 76%) 100%
        );
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left p {
    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 2rem;
    padding: 0 3rem;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter;
}

.link {
    color: #333;
}

.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;

}

.form p {
    display: none;
}


.registerPhrase {
    height: 57.37px;
    left: 87.98px;
    top: 46.74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #0098DA;

}

/* login */

.loginMain {
    background: linear-gradient(
        180deg,
        #0098dac2 0%,
        #49b27ac7 65.62%,
        rgb(106 189 80 / 76%) 100%
        );
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
}


.loginMain form button {
    margin: 2rem;
}

.imagem {
    width: 214px;
    height: 210.06px;
    left: 557px;
    top: 485px;
    margin-left: 7rem;
}

.loginText {
    
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 2rem;
    padding: 0 3rem;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter; 
    display: flex;
    flex-direction: column;
}

.leftSection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.foot {
    position: fixed;
    bottom: 6vh;
    left: 85vh;
}

 /* media queries tela de registro */
@media screen and (max-width: 768px) {
    .registerMain{
        background: linear-gradient(
        180deg,
        #0098dac2 0%,
        #49b27ac7 65.62%,
        rgb(106 189 80 / 76%) 100%
        );    
    }

    .left {
        display: none;
    }

    .form {
        margin: 0 auto;
    }

    .form p {
        display: block;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 16px;
        font-family: 'Inter';
        font-style: normal;
        color: #F4F0F0;
    }

    .registerPhrase {
        color: #FFF;
        font-size: 30px;
    }

    .regButton {
        margin-top: 3rem;
    }

  }

  /* media queries tela de login */

  @media screen and (max-width: 768px) {
    .loginText {
        display: none;
    }

    .imagem {
        display: none;
    }
  }