@import url(./reset.module.css);



.main {
    background: linear-gradient(180deg, #0098DA 0%, #49B27A 65.62%, rgba(106, 189, 80, 0.98) 100%);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    width: 100vh;
    height: 100vh;


}

a {
    color: black;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5rem;
}

img {
    padding-left: 17rem;
    margin-top: 7rem;
    display: inline-block;
    ;
}