@import url(./reset.module.css);

.registerMain {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-content: center;
}

.left{
    background: linear-gradient(180deg, #0098DA 0%, #49B27A 65.62%, rgba(106, 189, 80, 0.98) 100%);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left p {
    text-align: center;
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 2rem;
    padding: 0 3rem;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter;
}

a {
    color: #333;
}

.form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.registerPhrase {
    font-size: 1.5rem;
    color: #0098DA;
    margin: 1.8rem 0;
}

.loginMain {
    background: linear-gradient(180deg, #0098DA 0%, #49B27A 65.62%, rgba(106, 189, 80, 0.98) 100%);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.22);
    width: 100vw;
    height: 100vh;
}

.loginMain form {
    
    margin-left: 105vh;
    position: unset;
    margin-top: -15vw;
}

.loginMain form button {
    margin: 2rem;
}

.imagem {
    width: 214px;
    height: 210.06px;
    left: 557px;
    top: 485px;
}

.loginText {
    
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 2rem;
    padding: 0 3rem;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: lighter; 
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 130vh;
    
}

footer {
    position: fixed;
    bottom: 6vh;
    left: 85vh;
}


 