@import url(../../Form/CSSModule/reset.module.css);

.NearStations{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 5rem;
    margin-left: 18rem;
}

.NearStations h3 {
    color: #0098DA;
    margin-bottom: 3rem;
}

.MoreStations {
    margin-top: 4rem;
}

