@import url(./Resetcss.module.css);

.footerContainer {
  min-width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #5eb95f;
  z-index: 2;
  position: absolute;
  bottom: 0rem;
}

.decoration {
  width: 315px;
  height: 309px;
  position: absolute;
  right: 5rem;
  bottom: 5rem;
}
