@import url(./Resetcss.module.css);

.footerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: fixed;
  bottom: 0;
}

.footerContainer p {
  font-family: Roboto, Inter;
  font-size: 18px;
  margin-left: 4rem;
}

.decoration {
  max-width: 265px;
  max-height: 259px;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
}
