@import url(./Resetcss.module.css);

.sideContainer {
  min-width: 248px;
  min-height: 100%;
  background: rgb(0, 152, 218);
  background: linear-gradient(
    180deg,
    rgba(0, 152, 218, 1) 0%,
    rgba(73, 178, 122, 1) 75%,
    rgba(106, 189, 80, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  gap: 50px;
}

.logo {
  max-width: 8.125rem;
  max-height: 6.25rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.navMenu,
.npNavMenu {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  gap: 2rem;
  font-size: 20px;
  position: relative;
}

.navMenu img {
  margin-left: 25%;
}

.navMenu a,
.npNavMenu a {
  margin-left: 45%;
  text-align: start;
  padding: 6px 0 6px 12px;
  display: flex;
  align-items: center;
  font-family: Roboto;
}

.navMenu a:global(.active),
.npNavMenu a:global(.active) {
  background-color: white;
  color: black;
  border-radius: 30px 0px 0px 30px;
  font-family: Roboto;
  font-weight: 500;
}

.navMenu a:nth-child(2):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/Vector.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

.navMenu a:nth-child(3):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/clarity_map-marker-line.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

.navMenu a:nth-child(4):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/fluent_wallet-32-regular.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

.navMenu a:nth-child(5):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/healthicons_bike.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

.npNavMenu a:nth-child(1):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/iconoir_headset-help.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

.npNavMenu a:nth-child(2):before {
  content: "";
  display: inline-block;
  background: url(../../../assets/Icones/carbon_logout.svg);
  background-repeat: no-repeat, repeat;
  width: 15px;
  height: 30px;
  padding-right: 1.5rem;
  position: absolute;
  left: 5rem;
}

footer {
  color: black;
}

@media (max-height: 700px) {
  .logo {
    max-width: 7rem;
    max-height: 5.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .navMenu,
  .npNavMenu {
    padding-bottom: 15px;
    gap: 1.5rem;
    font-size: 15px;
  }

  .navMenu img {
    margin-left: 28%;
  }

  .navMenu a:global(.active),
  .npNavMenu a:global(.active) {
    border-radius: 30px 0px 0px 30px;
  }
} ;
